@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
/* colors: #D4D4D4, #ADC5CF, #AE7ABC, #813B93, #0C0A31 */
/* colors2: #EEF5F7, #E3820E, #D65D02, #C90904, #045399, #150915 */

body {
    background: #EEF5F7;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    
    display: flex;
    flex-flow: row wrap;
}

/* Medium screens */
@media all and (min-width: 50px) {
    .inrow { flex: 1 auto; }
}
  
@media all and (min-width: 500px) {
    .main { flex: 3 0px; }
    .blurb { order: 1; }
    .main    { order: 2; }
    .info { order: 3; }
    .footer  { order: 4; }
}

.header{
    grid-area: header;
}

.blurb{
    grid-area: blurb;
}

.info{
    grid-area: info;
    border-style: solid;
    border-color: #045399;
    padding: 10px;
    text-align: center;
}
.info p{
    size: 20px;
    text-align: left;
}

.main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

p {
    line-height: 1.5em;
    margin-bottom: 1.8em;
    color: #150915;
}

h1, h2, h3 {
    font-family: "IM Fell English SC", serif;
    color: #150915;
}

h1 {
    font-size: 1.7em;
    text-align: center;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #045399;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.3em;
}

nav ul li a:link {
    color: #150915;
}

nav ul li a:visited {
    color: #150915;
}

nav ul li a:hover {
    color: #EEF5F7;
    background: #E3820E;
}

nav ul li a:active {
    color: #045399;
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}