@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
/* colors: #D4D4D4, #ADC5CF, #AE7ABC, #813B93, #0C0A31 */
/* colors2: #EEF5F7, #E3820E, #D65D02, #C90904, #045399, #150915 */

body {
    background: #EEF5F7;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    margin: 0 auto;
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
    font-family: "IM Fell English SC", serif;
    color: #150915;
}

.main{
    max-width: 960px;
    margin: 0 auto;
}

.flexy {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.abox {
    padding: 10px;
    padding-top: 0px;

}

.box2 {
    padding-left: 200px;
    margin-right: 200px;
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: aboslute;
    white-space: nowrap;
    width: 1px;
}

p {
    line-height: 1.5em;
    margin-bottom: 1.8em;
    color: #150915;
}

h1 {
    font-size: 1.7em;
    text-align: center;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: purple;
}

nav {
    padding-right: 10;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-color: purple;
    background-color: lavender;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.1em;
    display: block;
    padding: 14px 16px;
}

nav ul li a:link {
    color: #150915;
}

nav ul li a:visited {
    color: #150915;
}

nav ul li a:hover {
    color: #EEF5F7;
    background: darkblue;
}

nav ul li a:active {
    color: #045399;
}