h1, h2, h3 {
    text-align: center;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-color: purple;
    background-color: lavender;
}

.flexy {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.abox {
    padding: 10px;
    padding-top: 0px;

}

.box2 {
    padding-left: 200px;
    margin-right: 200px;
}