@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Jost:ital@0;1&display=swap');
/* colors: #D4D4D4, #ADC5CF, #AE7ABC, #813B93, #0C0A31 */

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {
    background: white;
    font-size: 20px;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #012E40;
}

h1, h2, h3, h4 {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    color: #012E40;
    transition: 0.4s;
    padding: 0.2em;
    text-align: center;
    color: #012E40;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: white;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.2em;
}

p {
    margin: 1.8em 0;
    line-height: 1.8em;
}

header, nav, main,
aside, footer {
    padding: 1.5em;
    min-height: 100vh;
    /* border: 5px black solid; */
}

figure {
    padding: 1.5em;
    text-align: center;
}

img {
    object-fit: contain;
    max-width: 100%;
}

nav, footer, header {
    min-height: auto;
}

header, footer {
    text-align: center;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 
        1fr 2fr 1fr;
    grid-template-areas:
    "heady heady heady"
    "navvy navvy navvy"
    "mainy mainy mainy"
    "aside1 aside2 aside2"
    "footy footy footy";
}

header{grid-area: heady;background-color: #024959;}
nav{grid-area: navvy; background: #F2E3D5;}
main{grid-area: mainy; max-height: 100%}
#left{grid-area: aside1; background: #F2E3D5;}
#right{grid-area: aside2; background: #F2E3D5;}
footer{grid-area: footy; background: #024959;}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav ul li{
    list-style: none;
}

nav ul li a {
    color: #024959;
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 1.1em;
    transition: 0.1s;
}

nav ul li a:hover {
    color: #3CA6A6;
}

.flexy {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.abox {
    padding: 10px;
    padding-top: 0px;

}

.box2 {
    padding-left: 200px;
    margin-right: 200px;
}

#top{
    text-align: center;
}


@media screen and (min-width: 501px) and (max-width: 1000px) {
    .container {
        grid-template-columns:
            1fr 1fr;
        grid-template-areas: 
            "heady heady"
            "navvy navvy"
            "mainy mainy"
            "aside1 aside2"
            "footy footy";
    }
    header, nav, main,
    aside, footer {
        min-height: auto;
    }
}

@media screen and (max-width: 500px) {
    .container {
        grid-template-columns:
            1fr;
        grid-template-areas: 
            "heady"
            "mainy"
            "aside1"
            "aside2"
            "navvy"
            "footy";
    }
    nav ul {
        flex-flow: column nowrap;
        text-align: center;
    }
    nav ul li a {
        display: block;
        padding: 10px 5px;
        margin: 5px;
        border: 1px #012E40 solid;
        background: white;
    }
    header, nav, main,
    aside, footer {
        min-height: auto;
    }
}


.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}